<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Veterinaria Valle</title>
      <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
      <p><p>
      <table width="80%" celllspacing="25" cellpadding="35" align="center" >
      <tr><td align="center">
      <font color="pink" face="Tahoma" size="+6">
        VETERINARIA VALLE DE SANTIAGO TEXACUANGOS
      </font>
      <hr color="green">
      </td></tr>
      <tr><td align="justify">
      <p>
      La <strong>"Clínica Veterinaria Valle" </strong> es una empresa dedicada al cuidado de las mascotas, con sentido de compromiso &nbsp;
      en pro del bienestar de cada mascota. </p>
      <p>Los servicios &nbsp; que ofrecemos incluyen consulta general y especializada en ortopedia y neurología, consulta dermatológica,
      hospitalización diurna, cirugía de esterilización y castración, laboratorio clínico veterinario, peluquería canina y felina, petshop.
      </p></td></tr>
      <tr><td>
      <p>HORARIO DE ATENCIÓN:</p>
      <p> De Lunes a Viernes de 9:00 a.m. a 6:00 p.m.<br>
      Sábados de 9:00a.m. a 5:00 p.m. <br>
      Domingos de 9:00a.m. a 3:00 p.m.
      </p>
      </td></tr>
      </table>
    </body>
</html>
