<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar cita..."
          (keyup)="buscarCita(txtTermino.value)"
          #txtTermino
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Citas ({{ citas.length }})</h4>
            <h6 class="card-subtitle">Citas registradas en mi aplicación</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary" (click)="abrirSweetAlert()">
                <i class="fa fa-hospital-o"></i>
                Crear Cita
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Motivo</th>
                <th>observaciones</th>
                <th>Peso</th>
                <th>Tratamiento</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Mascota</th>
                <th>Medico</th>
                <th class="text-nowrap" *ngIf="user.role == 'ADMIN_ROLE'">
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cita of citas">
                <td>{{ cita.motivo }}</td>
                <td *ngIf="user.role == 'ADMIN_ROLE'">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Observaciones"
                    [(ngModel)]="cita.observaciones"
                  />
                </td>
                <td *ngIf="user.role == 'USER_ROLE'">
                  {{ cita.observaciones }}
                </td>

                <td *ngIf="user.role == 'ADMIN_ROLE'">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="peso"
                    [(ngModel)]="cita.peso"
                  />
                </td>
                <td *ngIf="user.role == 'USER_ROLE'">
                  {{ cita.peso }}
                </td>

                <td *ngIf="user.role == 'ADMIN_ROLE'">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tratamiento"
                    [(ngModel)]="cita.tratamiento"
                  />
                </td>
                <td *ngIf="user.role == 'USER_ROLE'">
                  {{ cita.tratamiento }}
                </td>

                <td>{{ cita.horaCita }}</td>
                <td>{{ cita.fechCita }}</td>
                <td>{{ cita.mascota.nombre }}</td>
                <td>{{ cita.medico.nombre }}</td>
                <td
                  class="text-nowrap text-center"
                  *ngIf="user.role == 'ADMIN_ROLE'"
                >
                  <a
                    (click)="guardarCambios(cita)"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
